<div class="no-touchevents">
        <div class="row">
            <div class="col-md-6 ng-scope col-xs-12 col-sm-12 col-lg-6">
                <div class="panel panel-default panel-card inspiration-card" >
                    <div class="panel-heading" video-modal="" video-url="" embed-code="">
                        <img data-ng-src="/globalassets/corporate/corp_article-page.jpg" alt="Fra frokostseminaret og vårt nye konsept" src="https://www.satselixia.no/globalassets/corporate/corp_article-page.jpg">
                        <div class="image-overlay"></div>
                        <div class="panel-header">
                            <h2 class="h3 ng-binding">Fra frokostseminaret og vårt nye konsept</h2>
                            <p class="ng-binding">›Vi samlet de fremste ekspertene på feltet fysisk aktivitet på arbeidsplassen.</p>
                                <div class="button-container">
                                    <div class="row">
                                        <div class="col-xs-6">
                                                <a class="btn btn-default btn-sm btn-block ng-binding" ng-click="goToPage(product.ProductPageUrl, $event)" role="button" href="/bedrift/fra-frokostseminaret-og-vart-nye-konsept/">Les mer</a>
                                        </div>
                                       </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div><!-- end ngRepeat: product in currentProducts track by $index --><div class="col-md-6 ng-scope col-xs-12 col-sm-6 col-lg-3 col-md-3" data-ng-class="getGridClass($index, currentProducts.length)" data-ng-repeat="product in currentProducts track by $index">
                <div class="panel panel-default panel-card inspiration-card pointer" ng-class="{'pointer' : product.VideoUrl || product.TrailerEmbedCode}">
                    <div class="panel-heading" video-modal="" video-url="https://www.youtube.com/embed/G38anxtDreI?rel=0&amp;showinfo=0" embed-code="">
                        <!-- ngIf: product.VideoUrl || product.TrailerEmbedCode --><div class="play-icon ng-scope" ng-if="product.VideoUrl || product.TrailerEmbedCode"></div><!-- end ngIf: product.VideoUrl || product.TrailerEmbedCode -->
                        <img data-ng-src="/globalassets/corporate/bjorn_borg1.gif" alt="Björn Borg satser på sine medarbeiderne" src="https://www.satselixia.no/globalassets/corporate/bjorn_borg1.gif">
                        <div class="image-overlay"></div>
                        <div class="panel-header">
                            <h2 class="h3 ng-binding">Björn Borg satser på sine medarbeiderne</h2>
                            <p class="ng-binding">›"Trening er et logisk trekk i arbeidet med å nå målene våre.."</p>
                                <div class="button-container">
                                    <div class="row">
                                        <div class="col-xs-6">
                                                <a class="btn btn-default btn-sm btn-block ng-binding" ng-click="goToPage(product.ProductPageUrl, $event)" role="button" href="/bedrift/bjorn-borg/">Les mer</a>
                                        </div>
                                        <!-- ngIf: product.CustomCtaUrl || product.Id > 0 || product.IsOnlineTrainingPage -->
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div><!-- end ngRepeat: product in currentProducts track by $index --><div class="col-md-6 ng-scope col-xs-12 col-sm-6 col-lg-3 col-md-3" data-ng-class="getGridClass($index, currentProducts.length)" data-ng-repeat="product in currentProducts track by $index">
                <div class="panel panel-default panel-card inspiration-card" ng-class="{'pointer' : product.VideoUrl || product.TrailerEmbedCode}">
                    <div class="panel-heading" video-modal="" video-url="" embed-code="">
                        <!-- ngIf: product.VideoUrl || product.TrailerEmbedCode -->
                        <img data-ng-src="/globalassets/corporate/hvorfor-trening.jpg" alt="Hvorfor trening?" src="https://www.satselixia.no/globalassets/corporate/hvorfor-trening.jpg">
                        <div class="image-overlay"></div>
                        <div class="panel-header">
                            <h2 class="h3 ng-binding">Hvorfor trening?</h2>
                            <p class="ng-binding">›God helse gir større arbeidskapasitet.</p>
                                <div class="button-container">
                                    <div class="row">
                                        <div class="col-xs-6">
                                                <a class="btn btn-default btn-sm btn-block ng-binding" ng-click="goToPage(product.ProductPageUrl, $event)" role="button" href="/bedrift/hvorfor-trening/">Les mer</a>
                                        </div>
                                        <!-- ngIf: product.CustomCtaUrl || product.Id > 0 || product.IsOnlineTrainingPage -->
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div><!-- end ngRepeat: product in currentProducts track by $index --><div class="col-md-6 ng-scope col-xs-12 col-sm-6 col-lg-3 col-md-3" data-ng-class="getGridClass($index, currentProducts.length)" data-ng-repeat="product in currentProducts track by $index">
                <div class="panel panel-default panel-card inspiration-card pointer" ng-class="{'pointer' : product.VideoUrl || product.TrailerEmbedCode}">
                    <div class="panel-heading" video-modal="" video-url="https://www.youtube.com/embed/09aeK99ZB-s?rel=0&amp;showinfo=0" embed-code="">
                        <!-- ngIf: product.VideoUrl || product.TrailerEmbedCode --><div class="play-icon ng-scope" ng-if="product.VideoUrl || product.TrailerEmbedCode"></div><!-- end ngIf: product.VideoUrl || product.TrailerEmbedCode -->
                        <img data-ng-src="/globalassets/corporate/sats_som_friskvarspartner.jpg" alt="Corporate Health &amp; Activity" src="https://www.satselixia.no/globalassets/corporate/sats_som_friskvarspartner.jpg">
                        <div class="image-overlay"></div>
                        <div class="panel-header">
                            <h2 class="h3 ng-binding">Corporate Health &amp; Activity</h2>
                            <p class="ng-binding">›Aktiviteter for ansatte.</p>
                                <div class="button-container">
                                    <div class="row">
                                        <div class="col-xs-6">
                                                <a class="btn btn-default btn-sm btn-block ng-binding" ng-click="goToPage(product.ProductPageUrl, $event)" role="button" href="/bedrift/corporate-health--activity/">Les mer</a>
                                        </div>
                                        <!-- ngIf: product.CustomCtaUrl || product.Id > 0 || product.IsOnlineTrainingPage -->
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div><!-- end ngRepeat: product in currentProducts track by $index --><div class="col-md-6 ng-scope col-xs-12 col-sm-6 col-lg-3 col-md-3" data-ng-class="getGridClass($index, currentProducts.length)" data-ng-repeat="product in currentProducts track by $index">
                <div class="panel panel-default panel-card inspiration-card" ng-class="{'pointer' : product.VideoUrl || product.TrailerEmbedCode}">
                    <div class="panel-heading" video-modal="" video-url="" embed-code="">
                        <!-- ngIf: product.VideoUrl || product.TrailerEmbedCode -->
                        <img data-ng-src="/globalassets/corporate/hva-tilbyr-vi.jpg" alt="Hva tilbyr vi?" src="https://www.satselixia.no/globalassets/corporate/hva-tilbyr-vi.jpg">
                        <div class="image-overlay"></div>
                        <div class="panel-header">
                            <h2 class="h3 ng-binding">Hva tilbyr vi?</h2>
                            <p class="ng-binding">›Passer alle nivåer uansett treningserfaring.</p>
                                <div class="button-container">
                                    <div class="row">
                                        <div class="col-xs-6">
                                                <a class="btn btn-default btn-sm btn-block ng-binding" ng-click="goToPage(product.ProductPageUrl, $event)" role="button" href="/bedrift/hva-tilbyr-vi/">Les mer</a>
                                        </div>
                                        <!-- ngIf: product.CustomCtaUrl || product.Id > 0 || product.IsOnlineTrainingPage -->
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div><!-- end ngRepeat: product in currentProducts track by $index --><div class="col-md-6 ng-scope col-xs-12 col-sm-12 col-lg-6" data-ng-class="getGridClass($index, currentProducts.length)" data-ng-repeat="product in currentProducts track by $index">
                <div class="panel panel-default panel-card inspiration-card" ng-class="{'pointer' : product.VideoUrl || product.TrailerEmbedCode}">
                    <div class="panel-heading" video-modal="" video-url="" embed-code="">
                        <!-- ngIf: product.VideoUrl || product.TrailerEmbedCode -->
                        <img data-ng-src="/globalassets/corporate/sats-foretag-vara-produkter.jpg" alt="FAQ" src="https://www.satselixia.no/globalassets/corporate/sats-foretag-vara-produkter.jpg">
                        <div class="image-overlay"></div>
                        <div class="panel-header">
                            <h2 class="h3 ng-binding">FAQ</h2>
                            <p class="ng-binding">›Svar på vanlige spørsmål.</p>
                                <div class="button-container">
                                    <div class="row">
                                        <div class="col-xs-6">
                                                <a class="btn btn-default btn-sm btn-block ng-binding" ng-click="goToPage(product.ProductPageUrl, $event)" role="button" href="/bedrift/faq/">Les mer</a>
                                        </div>
                                        <!-- ngIf: product.CustomCtaUrl || product.Id > 0 || product.IsOnlineTrainingPage -->
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div><!-- end ngRepeat: product in currentProducts track by $index --><!-- end ngRepeat: product in currentProducts track by $index -->
        </div>

        <div class="container text-center ng-hide" data-ng-show="!allItemsLoaded">
            <button type="button" class="btn btn-lg btn-primary" autocomplete="off" data-ng-click="loadMoreItems()">
                Vis mer
                <span class="badge ng-binding">0</span>
            </button>
        </div>
    </div>